<!doctype html>
<html lang="es">
<head>
    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Felicitaciones!</title>

    {{> base_metaog}}

    <!-- styles -->
    {{> basics_styles}}
    <link rel="stylesheet" href="css/create_post_congrats.css">
    <link rel="stylesheet" href="css/postsgrid.css">
</head>
<body>
{{> navbar}}
<div class="container-fluid congrats">
    <div class="heading">
        <img src="/img/clap-green-background.png">
        <h1>¡Muchas gracias!</h1>
        <p>Tu agradecimiento fue subido exitosamente </p>
    </div>
    <div class="postscontainer">
        {{> congrats_post card}}
    </div>
    <div class="post-url">
        <input class="post-url-input" value="{{url}}" size="46" readonly></input>
      </div>
    <div class="row share">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 col-12">
            <button class="post-url-button"><img src="/img/icons8-copy-52.png" ><br>copiar</button>
            <!-- whatsapp sharing -->
            <a class="mobile" href="whatsapp://send?text=Te%20comparto%20esta%20carta%20de%20agradecimiento!%20{{url}}">
                <img src="/img/whatsapp_logo.png">
            </a>
            <a class="large" href="https://web.whatsapp.com/send?text=Te%20comparto%20esta%20carta%20de%20agradecimiento!%20{{url}}" target="_blank">
                <img src="/img/whatsapp_logo.png">
            </a>
            <!-- whatsapp sharing -->

            {{!-- <img src="/img/instagram_logo.png"> --}}

            <!-- facebook sharing -->
            <a href="https://www.facebook.com/sharer.php?u={{url}}"  target="_blank">
                  <img src="/img/facebook_logo.png">
            </a>
            <!-- facebook sharing -->
            
            <!-- twitter sharing -->
            <a  href="https://twitter.com/intent/tweet?text=text=Te%20comparto%20esta%20carta%20de%20agradecimiento!%20&url={{url}}&hashtags=graciasporcuidarnos" target="_blank">
                <img src="/img/twitter_logo.png">    
            </a>
            <!-- twitter sharing -->
            
            <!-- email sharing -->
            <img src="/img/email_logo.png" data-toggle="modal" data-target="#emailSharingModal">
            <!-- email sharing -->

        </div>
        <div class="col-lg-4"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="emailSharingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Envia tu carta por email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <label>Ingresa el email del destinatario de tu carta</label>
            </div>
            <div class="col-12">
                <input id="email" name="email" type="email" placeholder="Escribe aquí">
                <p id="email-empty" style="color:red; display: none;">El email no puede estar vacio</p>
                <p id="email-error" style="color:red; display: none;">Formato invalido</p>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <div id="loading" class="spinner-border text-success" style="display: none;" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <button type="button" class="btn send-btn btn-primary" onclick="send_email('{{card.text}}','{{card.author}}','{{url}}')">Enviar</button>
      </div>
    </div>
  </div>
</div>


    {{> footer}}
    <script type="text/javascript" src="js/create_post_congrats.js" defer></script>

</body>
</html>

